name: "Update Flake"

on:
    workflow_call:
        inputs:
            projects_glob:
                description: Glob to discover flake.nix
                required: false
                type: string
                default: "**/flake.nix"
            exclude_globs:
                description: Glob to exclude
                required: false
                type: string
                default: ""
            flake-path:
                description: Path to the flake (relative to repo root). Overrides glob discovery.
                required: false
                type: string
                default: ""

permissions:
    contents: write

jobs:
    prepare:
        runs-on: ubuntu-latest
        outputs:
            matrix: ${{ steps.generate.outputs.matrix || steps.manual.outputs.matrix }}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Generate build matrix
              if: ${{ inputs.flake-path == '' }}
              id: generate
              uses: KestrelsDevelopment/Workflows/.github/actions/nix-generate-build-matrix@main
              with:
                  projects_glob: ${{ inputs.projects_glob }}
                  exclude_globs: ${{ inputs.exclude_globs }}

            - name: Manual matrix
              if: ${{ inputs.flake-path != '' }}
              id: manual
              run: |
                  echo "matrix={\"include\":[{\"project_dir\":\"${{ inputs.flake-path }}\"}]}" >> $GITHUB_OUTPUT
              shell: bash

    update:
        name: Update flake
        needs: prepare
        if: ${{ fromJSON(needs.prepare.outputs.matrix).include != null && toJSON(fromJSON(needs.prepare.outputs.matrix).include) != '[]' }}
        runs-on: ubuntu-latest
        strategy:
            matrix: ${{ fromJson(needs.prepare.outputs.matrix) }}
            fail-fast: false
        steps:
          - name: Checkout repository
            uses: actions/checkout@v4

          - name: Install Nix
            uses: cachix/install-nix-action@v31
            with:
                nix_path: nixpkgs=channel:nixos-unstable

          - name: Update lockfile
            uses: KestrelsDevelopment/Workflows/.github/actions/nix-update-flake@main
            with:
              project_dir: ${{ matrix.project_dir }}

          - name: Commit changes
            uses: KestrelsDevelopment/Workflows/.github/actions/git-commit-changes@main
            with:
                commit-message: "[chore] Update flake lock"