name: "Nix CI"

on:
    workflow_call:
        inputs:
            projects_glob:
                description: Glob to discover flake.nix
                required: false
                type: string
                default: "**/flake.nix"
            exclude_globs:
                description: Glob to exclude
                required: false
                type: string
                default: ""
            run_check:
                type: boolean
                required: false
                default: true
            run_lint:
                type: boolean
                required: false
                default: true
            check_updated:
                description: Check with updated lockfile
                type: boolean
                required: false
                default: false

permissions:
    contents: read

jobs:
    prepare:
        runs-on: ubuntu-latest
        outputs:
            matrix: ${{ steps.matrix.outputs.matrix }}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Generate build matrix
              id: matrix
              uses: KestrelsDevelopment/Workflows/.github/actions/nix-generate-build-matrix@main
              with:
                  projects_glob: ${{ inputs.projects_glob }}
                  exclude_globs: ${{ inputs.exclude_globs }}

            - name: Debug matrix
              run: |
                  echo '${{ steps.matrix.outputs.matrix }}'
              shell: bash
    
    build:
        name: Build & Check
        needs: prepare
        if: ${{ fromJSON(needs.prepare.outputs.matrix).include != null && toJSON(fromJSON(needs.prepare.outputs.matrix).include) != '[]' }}
        runs-on: ubuntu-latest
        strategy:
            matrix: ${{ fromJson(needs.prepare.outputs.matrix) }}
            fail-fast: false
        
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install Nix
              uses: cachix/install-nix-action@v31
              with:
                  nix_path: nixpkgs=channel:nixos-unstable

            - name: Lint
              if: ${{ inputs.run_lint }}
              uses: KestrelsDevelopment/Workflows/.github/actions/nix-lint@main
              with:
                  project_dir: ${{ matrix.project_dir }}

            - name: Check Flake
              if: ${{ inputs.run_check }}
              uses: KestrelsDevelopment/Workflows/.github/actions/nix-check-flakes@main
              with:
                  project_dir: ${{ matrix.project_dir }}
                  update_lock_file: ${{ inputs.check_updated }}